@font-face {
  font-family: "iconfont"; /* Project id 4893624 */
  src: url('iconfont.woff2?t=1754890512656') format('woff2'),
       url('iconfont.woff?t=1754890512656') format('woff'),
       url('iconfont.ttf?t=1754890512656') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dept_departure_flow:before {
  content: "\e6ad";
}

.icon-purchase_change_flow:before {
  content: "\e602";
}

.icon-contract_phase_flow:before {
  content: "\e7d7";
}

.icon-contract_settlement_flow:before {
  content: "\e65e";
}

.icon-train_certificate_flow:before {
  content: "\e617";
}

.icon-contract_review_flow:before {
  content: "\e610";
}

.icon-project_dept_flow:before {
  content: "\e752";
}

.icon-project_subject_flow:before {
  content: "\e64d";
}

.icon-depart_flow:before {
  content: "\e60a";
}

.icon-user_transfer_flow:before {
  content: "\e600";
}

.icon-become_officia_flow:before {
  content: "\e64f";
}

.icon-zhuanzhengshenqing:before {
  content: "\e71b";
}

.icon-RCSWNEW:before {
  content: "\e608";
}

.icon-JXRYZWZSYGRZSQ:before {
  content: "\e6ab";
}

.icon-purchase_flow:before {
  content: "\e6b2";
}

.icon-recruit_flow:before {
  content: "\e604";
}

.icon-employment_flow_02:before {
  content: "\e790";
}

.icon-interview_evaluation_flow:before {
  content: "\e61a";
}

.icon-RCFYNEW:before {
  content: "\e636";
}

.icon-employment_flow_01:before {
  content: "\e620";
}

