@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  ::before,
  ::after {
    @apply dark:border-[var(--van-divider-border-color,#3a3a3c)];
  }
}


:root {
  // Color Palette
  --white: #fff;
  --black: #000;

  // Component Colors
  --color: #222;
  --bg-color: #f5f5f5;
  --bg-color-secondary: var(--white);
  --bg-loading-color: #ffffffee;
  --bg-card: #fff;
}

:root[data-theme-mode=dark] {
  // Component Colors
  --color: #fff;
  --bg-color: #222;
  --bg-color-secondary: var(--black);
  --bg-loading-color: #222222ee;
  --bg-card: #1c1c1e;
}

body {
  color: var(--color);
  background-color: var(--bg-color);
}

#app {
  height: 100%;
  width: 100%;
  position: relative;
}

.my-rolling-text {
  // --van-rolling-text-background: #1989fa;
  // --van-rolling-text-color: white;
  // --van-rolling-text-item-border-radius: 5px;
  --van-rolling-text-font-size: 24px;
  --van-rolling-text-gap: 6px;
  --van-rolling-text-item-width: 20px;
}

#nprogress {
  .bar {
    background: var(--van-primary-color) !important;
    top: env(safe-area-inset-top, 0) !important;
    overflow: hidden;
  }

  .spinner {
    top: calc(env(safe-area-inset-top, 0) + 15px) !important;
  }

  .peg {
    box-shadow: 0 0 10px var(--van-primary-color), 0 0 5px var(--van-primary-color) !important;
  }

  .spinner-icon {
    border-top-color: var(--van-primary-color) !important;
    border-left-color: var(--van-primary-color) !important;
  }
}

@import './theme.scss';
