@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  ::before,
  ::after {
    @apply dark:border-[var(--van-divider-border-color,#3a3a3c)];
  }
}

:root {
  --color: #222;
  --bg-color: #fff;
  --bg-secondary-color: #f5f5f5;
  --bg-loading-color: #ffffffee;
  --bg-card: #fff;
  --fdvh: 100dvh;
}

:root[data-theme-mode=dark] {
  --color: #fff;
  --bg-color: #000;
  --bg-secondary-color: #222;
  --bg-loading-color: #222222ee;
  --bg-card: #1c1c1e;
}

body {
  color: var(--color);
  background-color: var(--bg-secondary-color);
}

#app {
  height: 100%;
  width: 100%;
  position: relative;
}

@import './theme.scss';
