@use './theme.scss' as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  ::before,
  ::after {
    @apply dark:border-[var(--van-divider-border-color,#3a3a3c)];
  }
}


:root {
  // Color Palette
  --white: #fff;
  --black: #000;

  // Component Colors
  --color: #222;
  --bg-color: #f5f5f5;
  --bg-color-secondary: var(--white);
  --bg-loading-color: #ffffffee;
  --bg-card: #fff;

  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;

  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;

  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;

  --primary: 221.2 83.2% 53.3%;
  --primary-foreground: 210 40% 98%;

  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;

  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;

  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 221.2 83.2% 53.3%;
  --radius: 0.5rem;
}

:root[data-theme-mode=dark] {
  // Component Colors
  --color: #fff;
  --bg-color: #222;
  --bg-color-secondary: var(--black);
  --bg-loading-color: #222222ee;
  --bg-card: #1c1c1e;

  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;

  --card: 222.2 84% 4.9%;
  --card-foreground: 210 40% 98%;

  --popover: 222.2 84% 4.9%;
  --popover-foreground: 210 40% 98%;

  --primary: 217.2 91.2% 59.8%;
  --primary-foreground: 222.2 47.4% 11.2%;

  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 210 40% 98%;

  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;

  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 210 40% 98%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;

  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;
  --ring: 224.3 76.3% 48%;
}

body {
  color: var(--color);
  background-color: var(--bg-color);
}

#app {
  height: 100%;
  width: 100%;
  position: relative;
}

#nprogress {
  .bar {
    background: var(--van-primary-color) !important;
    top: env(safe-area-inset-top, 0) !important;
    overflow: hidden;
  }

  .spinner {
    top: calc(env(safe-area-inset-top, 0) + 15px) !important;
  }

  .peg {
    box-shadow: 0 0 10px var(--van-primary-color), 0 0 5px var(--van-primary-color) !important;
  }

  .spinner-icon {
    border-top-color: var(--van-primary-color) !important;
    border-left-color: var(--van-primary-color) !important;
  }
}

.reset-label {
  .van-field__label{
    color: #a1a1aa !important;
  }
}

.reset-label__default {
  .van-field__label{
    color: var(--van-field-label-color) !important;
  }
}

// 解决部分安卓手机出现滚动条（已知机型：小米手机）
.van-field__control::-webkit-scrollbar {
  display: none; 
}


